Repository valentinrz14/grafica-system: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck-backend, typecheck-frontend, lint-backend, prettier

typecheck-backend:
  run: cd apps/backend && npx tsc --noEmit --skipLibCheck

typecheck-frontend:
  run: cd apps/frontend && npx tsc --noEmit --skipLibCheck

lint-backend:
  run: cd apps/backend && npm run lint
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix: wrap useSearchParams in Suspense boundary for Next.js 15 compatibility
  apps/frontend/app/login/login-form.tsx
  apps/frontend/app/login/page.tsx
  apps/frontend/tsconfig.tsbuildinfo
Due: typecheck-frontend, prettier

feat: add user profile fields and OAuth foundation (Phase 1)
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/dto/complete-profile.dto.ts
  apps/backend/src/auth/dto/jwt-payload.interface.ts
  apps/backend/src/users/users.interface.ts
  apps/backend/src/users/users.service.ts
  apps/frontend/components/price-calculator.tsx
Due: typecheck-backend, typecheck-frontend, lint-backend, prettier

ci: add GitHub Actions workflow for automated testing
  .github/workflows/test.yml
Due: prettier

fix: use native select on mobile to fix UI issues
  apps/frontend/app/admin/orders/[id]/page.tsx
  apps/frontend/app/admin/orders/page.tsx
  apps/frontend/app/admin/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/app/login/login-form.tsx
  apps/frontend/app/my-orders/page.tsx
  apps/frontend/app/register/page.tsx
  apps/frontend/components/EmptyState/EmptyState.component.tsx
  apps/frontend/components/EmptyState/EmptyState.interface.ts
  apps/frontend/components/LoadingSpinner/LoadingSpinner.component.tsx
  apps/frontend/components/LoadingSpinner/LoadingSpinner.interface.ts
  apps/frontend/components/PageHeader/PageHeader.component.tsx
  apps/frontend/components/PageHeader/PageHeader.interface.ts
  apps/frontend/components/PasswordInput/PasswordInput.component.tsx
  apps/frontend/components/PasswordInput/PasswordInput.interface.ts
  apps/frontend/components/StatusBadge/StatusBadge.component.tsx
  apps/frontend/components/StatusBadge/StatusBadge.interface.ts
  apps/frontend/components/Toast/Toast.component.tsx
  apps/frontend/components/Toast/Toast.interface.ts
  apps/frontend/components/ToastContainer/ToastContainer.component.tsx
  apps/frontend/components/order-card.tsx
  apps/frontend/components/price-calculator.tsx
  apps/frontend/tsconfig.tsbuildinfo
  yarn.lock
Due: typecheck-frontend, prettier

fix: configure ESLint for frontend to fix CI pipeline
  apps/frontend/.eslintrc.json
  apps/frontend/app/page.tsx
Due: typecheck-frontend, prettier

fix: improve select responsive behavior in mobile web view
  apps/frontend/components/price-calculator.tsx
Due: typecheck-frontend, prettier

feat: implement Shadcn/ui custom Select for mobile-first UX
  apps/frontend/components/price-calculator.tsx
  apps/frontend/components/ui/select.tsx
  apps/frontend/lib/utils.ts
  apps/frontend/package.json
  yarn.lock
Due: typecheck-frontend, prettier

chore: update yarn.lock after dependency changes
  yarn.lock
Due: none

feat: add email notifications and pickup scheduling
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/backend/src/mail/mail.module.ts
  apps/backend/src/mail/mail.service.ts
  apps/backend/src/mail/templates/order-confirmation.hbs
  apps/backend/src/orders/dto/create-order.dto.ts
  apps/backend/src/orders/orders.module.ts
  apps/backend/src/orders/orders.service.ts
  apps/frontend/app/page.tsx
  apps/frontend/lib/api-client.ts
  apps/frontend/tsconfig.tsbuildinfo
  package-lock.json
  yarn.lock
Due: typecheck-backend, typecheck-frontend, lint-backend, prettier

fix: make email service work without configured credentials
  apps/backend/src/mail/mail.service.ts
Due: typecheck-backend, lint-backend, prettier

docs: add email setup guide for Gmail configuration
  SETUP_EMAIL.md
Due: prettier

feat: redirect to login page after logout
  apps/frontend/context/auth-context.tsx
Due: typecheck-frontend, prettier

feat: add profile fields to registration form
  apps/frontend/app/register/page.tsx
Due: typecheck-frontend, prettier

fix: allow deleting quantity input value before typing new number
  apps/frontend/components/price-calculator.tsx
Due: typecheck-frontend, prettier

feat: extend pickup hours to 7 PM (19:00)
  apps/backend/src/orders/dto/create-order.dto.ts
  apps/frontend/app/page.tsx
Due: typecheck-backend, typecheck-frontend, lint-backend, prettier

feat: disable submit button for invalid pickup date/time selections
  apps/frontend/app/page.tsx
Due: typecheck-frontend, prettier

fix: parse pickup date in local timezone to correctly validate Sundays
  apps/frontend/app/page.tsx
Due: typecheck-frontend, prettier

security: use generic error message for login failures
  apps/backend/src/auth/auth.service.ts
Due: typecheck-backend, lint-backend, prettier

feat: implement 7-day limit and file cleanup system
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/auth/guards/jwt-auth.guard.ts
  apps/backend/src/orders/dto/create-order.dto.ts
  apps/backend/src/scheduler/scheduler.module.ts
  apps/backend/src/scheduler/scheduler.service.ts
  apps/frontend/app/page.tsx
  apps/frontend/components/StatusBadge/StatusBadge.component.tsx
  apps/frontend/components/StatusBadge/StatusBadge.interface.ts
  apps/frontend/lib/api-client.ts
  package-lock.json
  yarn.lock
Due: typecheck-backend, typecheck-frontend, lint-backend, prettier

feat: auto-refresh orders and improve UX
  apps/frontend/app/admin/orders/[id]/page.tsx
  apps/frontend/app/admin/page.tsx
  apps/frontend/lib/hooks/use-orders.ts
Due: typecheck-frontend, prettier

chore: remove development console.log statements
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/guards/jwt-auth.guard.ts
  apps/backend/src/auth/strategies/jwt.strategy.ts
Due: typecheck-backend, lint-backend, prettier

fix: email template path and auto-refresh orders after creation
  .env.example
  apps/backend/prisma/schema.prisma
  apps/backend/src/mail/mail.service.ts
  apps/frontend/app/page.tsx
Due: typecheck-backend, typecheck-frontend, lint-backend, prettier

fix: register Handlebars 'gt' helper for email template
  apps/backend/src/mail/mail.service.ts
Due: typecheck-backend, lint-backend, prettier

feat(v2): add categories, products and promotions system
  apps/backend/prisma/migrations/20260113003617_init/migration.sql
  apps/backend/prisma/migrations/20260113050216_add_auth_system/migration.sql
  apps/backend/prisma/migrations/20260113061704_add_comment_to_order/migration.sql
  apps/backend/prisma/migrations/20260114141719_add_v2_categories_products_promotions/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/backend/src/app.module.ts
  apps/backend/src/auth/guards/jwt-auth.guard.ts
  apps/backend/src/categories/categories.controller.ts
  apps/backend/src/categories/categories.module.ts
  apps/backend/src/categories/categories.service.ts
  apps/backend/src/products/products.controller.ts
  apps/backend/src/products/products.module.ts
  apps/backend/src/products/products.service.ts
  apps/backend/src/promotions/promotions.controller.ts
  apps/backend/src/promotions/promotions.module.ts
  apps/backend/src/promotions/promotions.service.ts
  apps/backend/src/scheduler/scheduler.service.ts
Due: typecheck-backend, lint-backend, prettier

feat(admin): add promotions management system
  apps/backend/package.json
  apps/backend/prisma/migrations/20260114160805_add_promotion_visual_fields/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/admin/admin.module.ts
  apps/backend/src/admin/promotions/admin-promotions.controller.ts
  apps/backend/src/admin/promotions/admin-promotions.module.ts
  apps/backend/src/admin/promotions/admin-promotions.service.ts
  apps/backend/src/admin/promotions/dto/create-promotion.dto.ts
  apps/backend/src/admin/promotions/dto/update-promotion.dto.ts
  apps/backend/src/app.module.ts
  package-lock.json
  yarn.lock
Due: typecheck-backend, lint-backend, prettier

fix: update railway config to install devDependencies for build
  apps/backend/nixpacks.toml
  apps/backend/railway.json
Due: prettier

fix: import screen from @testing-library/dom for proper typing
  apps/frontend/components/__tests__/countdown-timer.test.tsx
  apps/frontend/components/__tests__/price-calculator.test.tsx
  apps/frontend/components/__tests__/upload-form.test.tsx
Due: typecheck-frontend, prettier

feat: add new library to testings
  apps/frontend/package.json
  apps/frontend/tsconfig.tsbuildinfo
  yarn.lock
Due: prettier

fix: update CI workflows to use yarn with monorepo setup
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  apps/frontend/tsconfig.tsbuildinfo
Due: prettier

fix: remove package-lock.json and use only Node 20 in CI
  .github/workflows/frontend-ci.yml
  .gitignore
  package-lock.json
Due: prettier

fix: disable strict TypeScript ESLint rules and generate Prisma before lint
  .github/workflows/backend-ci.yml
  apps/backend/eslint.config.mjs
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/mail/mail.service.ts
  apps/backend/src/orders/dto/create-order.dto.ts
  apps/backend/src/prisma/prisma.service.ts
Due: typecheck-backend, lint-backend, prettier

fix: configure Railway to use yarn for monorepo build
  apps/backend/.npmrc
  apps/backend/nixpacks.toml
  apps/backend/railway.json
Due: prettier

docs: update deployment guide for yarn monorepo setup
  DEPLOYMENT.md
Due: prettier

fix: specify Node 20 for Railway and fix nixpacks monorepo config
  .nvmrc
  apps/backend/nixpacks.toml
  package.json
Due: prettier

fix: simplify nixpacks and improve Railway build command for monorepo
  apps/backend/nixpacks.toml
  apps/backend/railway.json
Due: prettier

chore: upgrade yarn.lock
  yarn.lock
Due: none

fix: use correct Node package name in nixpacks (nodejs_20)
  apps/backend/nixpacks.toml
Due: none

fix: upgrade to Node 22 and disable Nixpacks auto-install
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .nvmrc
  apps/backend/nixpacks.toml
  package.json
Due: prettier

Path conditions:
  typecheck-backend: any of: apps/backend/src/**/*.ts
  typecheck-frontend: any of: apps/frontend/**/*.{ts,tsx}
  lint-backend: any of: apps/backend/src/**/*.{ts,js}
  prettier: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
