Repository valentinrz14/grafica-system: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck-backend, typecheck-frontend, lint-backend, prettier

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Pre-commit hook: ejecuta linting, formateo y type checking antes de cada commit
pre-commit:
  parallel: true
  commands:
    # TypeScript type checking backend
    typecheck-backend:
      glob: 'apps/backend/src/**/*.ts'
      run: cd apps/backend && npx tsc --noEmit --skipLibCheck

    # TypeScript type checking frontend
    typecheck-frontend:
      glob: 'apps/frontend/**/*.{ts,tsx}'
      run: cd apps/frontend && npx tsc --noEmit --skipLibCheck

    # Lint backend
    lint-backend:
      glob: 'apps/backend/src/**/*.{ts,js}'
      run: cd apps/backend && npm run lint
      stage_fixed: true

    # Format code with Prettier
    prettier:
      glob: '*.{ts,tsx,js,jsx,json,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

# Commit-msg hook: valida el mensaje de commit con commitlint
commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

# Pre-push hook: ejecuta tests y build antes de push
pre-push:
  parallel: false
  commands:
    # Build backend
    build-backend:
      run: cd apps/backend && npm run build

    # Build frontend
    build-frontend:
      run: cd apps/frontend && npm run build

# Post-merge hook: instala dependencias despuÃ©s de merge
post-merge:
  commands:
    install-deps:
      run: |
        if [ -f "package-lock.json.merge" ] || git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD | grep --quiet "package-lock.json"; then
          echo "ðŸ“¦ Dependencies changed, running npm install..."
          npm install
        fi

Remove exposedPorts config and add PORT debugging
  apps/backend/railway.toml
  apps/backend/src/main.ts
Due: prettier

Optimize backend for production deployment
  apps/backend/.env.example
  apps/backend/PRODUCTION.md
  apps/backend/package.json
  apps/backend/railway.toml
  apps/backend/src/main.ts
  apps/backend/src/prisma/prisma.service.ts
  yarn.lock
Due: typecheck-backend, lint-backend, prettier

Migrate email service from Gmail SMTP to Resend API
  apps/backend/.env.example
  apps/backend/PRODUCTION.md
  apps/backend/RESEND_SETUP.md
  apps/backend/package.json
  apps/backend/src/mail/mail.service.ts
  yarn.lock
Due: typecheck-backend, lint-backend, prettier

Migrate email service from Resend to Mailgun
  apps/backend/.env.example
  apps/backend/MAILGUN_SETUP.md
  apps/backend/PRODUCTION.md
  apps/backend/RESEND_SETUP.md
  apps/backend/package.json
  apps/backend/src/mail/mail.service.ts
  yarn.lock
Due: typecheck-backend, lint-backend, prettier

refactor: transition email service from Mailgun to SendGrid
  apps/backend/.env.example
  apps/backend/MAILGUN_SETUP.md
  apps/backend/PRODUCTION.md
  apps/backend/SENDGRID_SETUP.md
  apps/backend/package.json
  apps/backend/src/mail/mail.service.ts
  yarn.lock
Due: typecheck-backend, lint-backend, prettier

feat: add new mailer service
  apps/backend/.env.example
  apps/backend/PRODUCTION.md
  apps/backend/SENDGRID_SETUP.md
  apps/backend/src/mail/mail.service.ts
Due: typecheck-backend, lint-backend, prettier

feat: enhance file upload and pricing features
  apps/backend/package.json
  apps/backend/src/files/files.controller.ts
  apps/backend/src/files/files.interface.ts
  apps/backend/src/files/files.service.ts
  apps/backend/src/orders/orders.controller.ts
  apps/backend/src/orders/orders.service.ts
  apps/backend/src/pricing/pricing.interface.ts
  apps/backend/src/pricing/pricing.service.ts
  apps/frontend/app/page.tsx
  apps/frontend/app/promociones/page.tsx
  apps/frontend/components/CopiesSelector/CopiesSelector.component.tsx
  apps/frontend/components/FilePreview/FilePreview.component.tsx
  apps/frontend/components/PDFModal/PDFModal.component.tsx
  apps/frontend/components/PDFViewer/PDFViewer.component.tsx
  apps/frontend/components/PriceCalculator/PriceCalculator.component.tsx
  apps/frontend/components/PriceCalculator/PriceCalculator.interfaces.ts
  apps/frontend/lib/api-client.ts
  apps/frontend/package.json
  yarn.lock
Due: typecheck-backend, typecheck-frontend, lint-backend, prettier

Fix Vercel build: Configure webpack to ignore canvas module for pdfjs-dist
  apps/frontend/next.config.js
Due: prettier

Improve webpack config for canvas module resolution
  apps/frontend/next.config.js
Due: prettier

Clean Next.js cache before build in CI
  .github/workflows/frontend-ci.yml
  yarn.lock
Due: prettier

Fix webpack canvas resolution for CI builds
  apps/frontend/app/page.tsx
  apps/frontend/next.config.js
Due: typecheck-frontend, prettier

feat: define OrderEmailData and CalculatePriceDto interfaces
  apps/backend/src/mail/mail.interface.ts
  apps/backend/src/mail/mail.service.ts
  apps/backend/src/products/products.controller.ts
  apps/backend/src/products/products.interface.ts
  apps/backend/src/products/products.service.ts
  apps/backend/src/users/users.interface.ts
  apps/backend/src/users/users.service.ts
Due: typecheck-backend, lint-backend, prettier
