Repository valentinrz14/grafica-system: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck-backend, typecheck-frontend, lint-backend, prettier

typecheck-backend:
  run: cd apps/backend && npx tsc --noEmit --skipLibCheck

typecheck-frontend:
  run: cd apps/frontend && npx tsc --noEmit --skipLibCheck

lint-backend:
  run: cd apps/backend && npm run lint
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix: adjust Node version requirements and update test workflow
  .github/workflows/test.yml
  package.json
Due: prettier

fix: simplify nixpacks config and add .node-version file
  .node-version
  apps/backend/nixpacks.toml
Due: none

fix: upgrade to Node 24 LTS for Prisma compatibility
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/test.yml
  .node-version
  .nvmrc
Due: prettier

refactor: clean up debug logs and unused variables in frontend
  apps/frontend/app/admin/orders/[id]/page.tsx
  apps/frontend/app/my-orders/page.tsx
  apps/frontend/app/page.tsx
  apps/frontend/app/promociones/page.tsx
Due: typecheck-frontend, prettier

perf: optimize backend - add database indexes and common utilities
  apps/backend/prisma/schema.prisma
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/common/responses/response.utils.ts
  apps/frontend/tsconfig.tsbuildinfo
Due: typecheck-backend, lint-backend, prettier

chore: migrate from Nixpacks to Railpack (Railway's new builder)
  apps/backend/nixpacks.toml
  apps/backend/railway.json
Due: prettier

fix: ensure uploads directory exists in Railway build
  .gitignore
  apps/backend/uploads/.gitkeep
Due: none

fix: enable yarn using corepack in Railway build
  apps/backend/railway.json
Due: prettier

fix: install yarn globally with npm for Railway build
  apps/backend/railway.json
Due: prettier

fix: use node directly in Railway startCommand
  apps/backend/railway.json
Due: prettier

fix: add .js extension to Railway startCommand
  apps/backend/railway.json
Due: prettier

fix: move railway.json to monorepo root
  apps/backend/railway.json
  railway.json
Due: prettier

fix: return to root directory after build
  railway.json
Due: prettier

refactor: remove unused code and dead features
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/categories/categories.service.ts
  apps/backend/src/scheduler/scheduler.service.ts
  apps/backend/src/users/users.service.ts
  apps/frontend/app/admin/promotions/page.tsx
  apps/frontend/components/active-promotions.tsx
  apps/frontend/lib/api-client.ts
  apps/frontend/types/promotion.ts
  yarn.lock
Due: typecheck-backend, typecheck-frontend, lint-backend, prettier

feat: add new changes in tsconfig.tsbuildinfo
  apps/frontend/tsconfig.tsbuildinfo
Due: none

feat: add Dockerfile for Railway deployment
  .dockerignore
  Dockerfile
  apps/backend/.dockerignore
  railway.json
Due: prettier

fix: use Yarn 1.x in Dockerfile to match lockfile version
  Dockerfile
Due: none

Limpiar código no utilizado y agregar tests
  SETUP_DATABASE.md
  SETUP_EMAIL.md
  apps/frontend/README.testing.md
  apps/frontend/components/PriceCalculator/PriceCalculator.test.tsx
  apps/frontend/design-system/STRUCTURE.md
  apps/frontend/design-system/components/Badge/Badge.component.tsx
  apps/frontend/design-system/components/Badge/Badge.interfaces.ts
  apps/frontend/design-system/components/Button/Button.component.tsx
  apps/frontend/design-system/components/Button/Button.interfaces.ts
  apps/frontend/design-system/components/Card/Card.component.tsx
  apps/frontend/design-system/components/Card/Card.interfaces.ts
  apps/frontend/design-system/components/Input/Input.component.tsx
  apps/frontend/design-system/components/Input/Input.interfaces.ts
  apps/frontend/design-system/components/LoadingSpinner/LoadingSpinner.test.tsx
  apps/frontend/design-system/components/PasswordInput/PasswordInput.test.tsx
  apps/frontend/design-system/components/index.ts
  apps/frontend/design-system/foundations/animations.ts
  apps/frontend/design-system/foundations/colors.ts
  apps/frontend/design-system/foundations/index.ts
  apps/frontend/design-system/foundations/spacing.ts
  apps/frontend/design-system/foundations/typography.ts
  apps/frontend/design-system/index.ts
  apps/frontend/tsconfig.tsbuildinfo
Due: typecheck-frontend, prettier

Corregir tests y configurar lefthook para ejecutar tests en pre-commit
  apps/frontend/design-system/components/LoadingSpinner/LoadingSpinner.test.tsx
  apps/frontend/design-system/components/PasswordInput/PasswordInput.test.tsx
  apps/frontend/tsconfig.tsbuildinfo
  lefthook.yml
Due: typecheck-frontend, prettier

Migrar a axios + React Query y configurar variables de entorno
  apps/frontend/.env.example
  apps/frontend/app/page.tsx
  apps/frontend/app/promociones/page.tsx
  apps/frontend/lib/__tests__/api-client.test.ts
  apps/frontend/lib/api-client.ts
  apps/frontend/lib/hooks/use-promotions.ts
  apps/frontend/package.json
  apps/frontend/tsconfig.tsbuildinfo
  yarn.lock
Due: typecheck-frontend, prettier

chore: remove .env.example file as it is no longer needed for API configuration
  apps/frontend/.env.example
Due: none

Migrar sistema de autenticación a axios
  apps/frontend/app/register/page.tsx
  apps/frontend/context/AuthContext/AuthContext.context.tsx
  apps/frontend/lib/api-client.ts
  apps/frontend/tsconfig.tsbuildinfo
Due: typecheck-frontend, prettier

refactor: order and promotion pages to enhance mobile responsiveness and improve date handling
  apps/backend/src/orders/dto/create-order.dto.ts
  apps/frontend/app/admin/orders/[id]/page.tsx
  apps/frontend/app/admin/promotions/create/page.tsx
  apps/frontend/app/admin/promotions/edit/[id]/page.tsx
  apps/frontend/app/admin/promotions/page.tsx
  apps/frontend/app/page.tsx
  apps/frontend/app/promociones/page.tsx
Due: typecheck-backend, typecheck-frontend, lint-backend, prettier

refactor: enhance login functionality and error handling
  apps/frontend/app/login/login-form.tsx
  apps/frontend/context/AuthContext/AuthContext.context.tsx
  apps/frontend/context/AuthContext/AuthContext.interfaces.ts
  apps/frontend/lib/api-client.ts
Due: typecheck-frontend, prettier

chore: upgrade tsconfig
  apps/frontend/tsconfig.tsbuildinfo
Due: none

chore: upgrade schema in prisma
  apps/backend/prisma/schema.prisma
Due: none

chore: update Prisma client version and remove PostgreSQL adapter
  apps/backend/package.json
  apps/backend/prisma.config.ts
  apps/backend/prisma/seed.ts
  apps/backend/src/prisma/prisma.service.ts
  yarn.lock
Due: typecheck-backend, lint-backend, prettier

chore: upgrade vercel.json
  apps/frontend/vercel.json
Due: prettier

Fix Railway 502 error and update tests
  apps/backend/src/main.ts
  apps/frontend/lib/__tests__/api-client.test.ts
  apps/frontend/lib/api-client.ts
Due: typecheck-frontend, prettier

chore: upgradew tsconfig.tsbuildinfo
  apps/frontend/tsconfig.tsbuildinfo
Due: none

Add nixpacks.toml to fix Railway deployment
  apps/backend/nixpacks.toml
  yarn.lock
Due: none

Fix Railway deployment with Railpack configuration
  apps/backend/nixpacks.toml
  apps/backend/package.json
  apps/backend/railway.toml
Due: prettier

Fix Railway deployment: separate build and runtime phases
  apps/backend/package.json
  apps/backend/railway.toml
Due: prettier

Remove railway.toml to let Railpack auto-detect build process
  apps/backend/railway.toml
Due: none

Fix TypeScript build configuration for proper dist/ structure
  apps/backend/prisma/seed.d.ts
  apps/backend/prisma/seed.js
  apps/backend/prisma/seed.js.map
  apps/backend/tsconfig.build.json
  apps/backend/tsconfig.build.tsbuildinfo
  apps/backend/tsconfig.json
Due: prettier

Fix SMTP timeout blocking Railway deployment
  apps/backend/src/mail/mail.service.ts
Due: typecheck-backend, lint-backend, prettier

Add error logging to diagnose Railway crashes
  apps/backend/src/main.ts
Due: prettier

Add dedicated /health endpoint for Railway health checks
  apps/backend/src/app.controller.ts
Due: prettier

Add Railway configuration and enhanced diagnostics
  apps/backend/railway.toml
  apps/backend/src/main.ts
Due: prettier

Explicitly expose port 8080 in Railway config
  apps/backend/railway.toml
Due: none

Path conditions:
  typecheck-backend: any of: apps/backend/src/**/*.ts
  typecheck-frontend: any of: apps/frontend/**/*.{ts,tsx}
  lint-backend: any of: apps/backend/src/**/*.{ts,js}
  prettier: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
